* {
  text-align: center;
}

.rb--container {
  margin: 60px 40px;
  background: rgba(1, 113, 121, 255);
  background: linear-gradient(
    90deg,
    rgba(1, 113, 121, 255) 0%,
    rgba(6, 37, 86, 255) 48%
  );
}

.search {
  display: block;
  align-content: center;
  width: 220px;
  margin: 20px auto;
  height: 30px;
  text-align: left;
}

.card--container {
  width: 280px;
  background-color: rgba(158, 235, 207, 255);
  margin: auto;
  transition: transform 0.4s ease-in-out;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 30px;
}

.card--container:hover {
  transform: scale(1.1);
  margin: 20px 20px;
  background-color: rgba(255, 161, 38, 255);
}

.rb-image {
  width: 260px;
}

.cardTitle {
  color: rgba(158, 235, 207, 255);
  font-family: "SEGA LOGO FONT", sans-serif;
  font-size: 36px;
}
.subTitle {
  font-weight: 700px;
  font-size: 20px;
}

.rbSubTitle {
  padding-bottom: 10px;
}

.header--container {
  margin-top: 10px;
}
